<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Client app Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Client app Example</h1>
        <h2>
            Delete token form
        </h2>

        <form id="delete_form" method="post" onsubmit="deleteFunction()">
            <label>Username: </label><input type="text" id="username">
            <br>
            <input type="submit" value="submit">
        </form>
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<script>
    function deleteFunction() {

        var username = document.getElementById("username").value;

        document.getElementById("delete_form").action =
            "https://carmelo-polimi-client-ex.herokuapp.com/client/api/deleteToken?username="+username;
    }
</script>

</body>
</html>
